<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="comprasInventarioEntities" connectionString="metadata=&quot;res://*/Models.EntityFramework.Entity Framwork.csdl|res://*/Models.EntityFramework.Entity Framwork.ssdl|res://*/Models.EntityFramework.Entity Framwork.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMILTONROD\SQLEXPRESS01;initial catalog=comprasInventario;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="comprasInventarioEntities1" connectionString="metadata=res://*/Models.EntityFramework.EntityFramework.csdl|res://*/Models.EntityFramework.EntityFramework.ssdl|res://*/Models.EntityFramework.EntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMILTONROD\SQLEXPRESS01;initial catalog=comprasInventario;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entity" connectionString="metadata=res://*/Models.Entity.csdl|res://*/Models.Entity.ssdl|res://*/Models.Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMILTONROD\SQLEXPRESS01;initial catalog=comprasInventario;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>